  
body{
font-family: 'Bebas Neue', cursive, sans-serif;
font-size: 30px;
background-color: rgb(25, 218, 67);
}

section {
    overflow: hidden;
}


/*----------NAVBAR---------*/

.navbar-nav {
    text-align: center;
}


#logo {
    text-align: center;
    color: rgb(255, 255, 255);
    padding-left: 40px;
    font-size: 45px;
    letter-spacing: 3px;
}

/*----------Section 1 / Carousel-------*/

.img-fluid{
overflow: hidden;
width: 100%;
height: 100vh;

}


#carimages {
    height: auto;
}

/*----------Call out for Mobiles --------*/

.callout {
    height: 50vh;
    background-color: #d4a5a5;
}
 
/*---------- Section 2 - About Me -------*/

.ivanaboutme { 
    background: url("../images/Ivan1.jpg");
    min-height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;

    

    /*- add a zoom in if possible -*/  
    }

.bg-color-aboutme {
    background-color: #676767;
    height: 100vh;
}

.jumbotron{
    border-radius: 0;
}

.aboutme{
    border: 1px solid rgb(228, 115, 23);
    letter-spacing: 1px;
    font-weight: 350;
    font-size: 36px;
    text-align: left;
    margin-top: 30px;

}
.missionp{
    color: rgb(228, 115, 23);
    text-align: left;
    right: 10px;
    letter-spacing: 2px;
}

/*---------- Section 3 - Set your goal -------*/


#goal {
    background-color: #e0cec6;
}

.card-body {
    text-align: center;
    padding: 30px;
   
    
}

.card {
    background-color: #fdfdfd;
    border-radius: 2.5%;
  
    margin: 15% auto;
    padding: 10px;
    align-items: center;
    z-index: 2;
    display: block;
    opacity: 0.8;
    transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.card:hover {
    opacity: 1;
}


.bg{
    background: url('../images/Ivan4.jpg') no-repeat;
    width: 100%;
    height: 100vh;
    background-size: 150%;



}

.form-container{
    position: absolute;
    top: 15vh;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000; 
   

}

@media only screen and (max-width: 845px) {
    .bg {
        background-size: 200%;
    }
}


@media only screen and (max-width: 645px) {
    .bg {
        background: url('../images/Ivan2.jpg') no-repeat;
        width: 100%;
        height: 100vh;
        background-size: 100%;
        position: center;
    }
}

@media only screen and (max-width: 615px) {
    .bg {
        background: url('../images/Ivan2.jpg') no-repeat;
        width: 100%;
        height: 100vh;
        background-size: 150%;
        position: center;
    }
}