body{
font-family: 'Bebas Neue', cursive, sans-serif;
font-size: 40px;
}

.carousel-inee {
  height: 100vh;
  background: url(../images/Ivan7.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bar {
    background-color: #ca1b72;
}